*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card-container {
    display: none;
    /* margin: 40px auto; */
    padding: 15px 1rem;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 99;
    top: 0%;
    right: 3%;
    transform: translateY(60px);
    background: white;
}


i{
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
}

#toggle{
    display: none;
}

#toggle:checked ~ .card-container{
    display: block;
}

#close{
    display: none;
}

#close:checked .all{
    display: none;
}

.all{
    display: flex;
    gap: 2rem;
    padding-top: ;
}

/* .cancel input{
    display: none;
} */

/* .nav-heading .card-container button{
    width: 320px;
    height: 70px;
    border: 0;
    color: #fff;
    background: #3C1006;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    /* margin-top: auto !important; */
} */
