*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}



.card-container{
    display: none;
    padding: 15px 1rem;
    width: 350px;
    height: 350px;
    position: absolute;
    z-index: 99;
    top: 0%;
    right: 3%;
    transform: translateY(60px);
    background: white;
}

i{
    margin-top: 10px;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 20px;
}

#toggle:checked ~ .card-container{
    display: block;
}
 
.all{
    display: flex;
    gap: 2rem;
}

input{
    display: none;
}

.nav-heading .card-container button{
    width: 320px;
    height: 70px;
    border: 0;
    color: #fff;
    background: #3C1006;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}
