.nav-heading{
    background-color: white;
} 

.nav-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 20px 25px;
    font-size: 14px;
}

.nav-bar .bag{
    display: flex;
    align-items: center;
}

.nav-heading .nav-bar h2{
    font-family: "grotesk-condensed, grotesk-condensed-fallback";
    font-optical-sizing: auto;
    font-weight: inherit;
    font-style: normal;
}

.nav-heading .nav-bar h2 a{
    text-decoration: none;
    color: black;
}

.nav-heading .nav-bar ul{
    display: flex;
    gap: 1.2rem;
    list-style: none;
    text-decoration: none;
}

.nav-heading .nav-bar ul a{
    text-decoration: none;
    color: black;
}

.nav-bar .fa{
    display: none;
}

.nav-bar .fa-bars{
    color: black;
}
.nav-bar .list{
    display: flex;
    align-items: center;
    gap: 20px;
}

.before-footer{
    background-color: rgb(231, 229, 228);
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
}
.before-footer-text{
    padding: 25px;
    display: grid;
    text-align: center;
    justify-content: center;
    gap: 20px;
}
.footer{
    background-color: rgb(95, 12, 12);
    font-family: "Open Sans", sans-serif;
}
.footer .all-footer{
    padding: 20px 25px;
    display: flex;
    gap: 100px;
}
.footer .all-footer .logo img{
    width: 120px;
    color: white;
}
.footer .all-footer .logo{
    display: grid;
    gap: 50px;
}
.footer .all-footer .logo h3{
    width: 500px;
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.all-footer .logo .input{
    background-color: white;
    width: 450px;
    height: 60px;
}
.all-footer .logo .input input{
    border: 0;
    width: 350px;
    height: 60px;
    padding: 0px 0px 0px 20px;
    outline: none;
}
.all-footer .logo .input button{
    height: 60px;
    border: 0;
    width: 45px;
    background-color: white;
    padding: 0px 20px 0px 0px;
}
.all-footer .logo-text{
    display: flex;
    padding: 50px 0px 0px 0px;
    gap: 70px;
    font-size: 12px;
}
.all-footer .logo-text .help{
    display: grid;
    gap: 10px;
    color: white;
}
.all-footer .logo-text .help1{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.all-footer .logo-text .help2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.all-footer .logo-text .help3{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.logo-text  p{
    font-weight: 400;
    font-size: 17px;
}
.logo-text .help h4{
    font-weight: 300;
}
.footer .term{
    display: flex;
    gap: 10px;
    padding: 40px 25px;
    align-items: end;
    justify-content: end;
    color: white;
    font-size: 14px;
}



@media (min-width:200px) and (max-width:767px){   
    .nav-bar{
        padding: 15px 23px;
        height: 10vh;
    }
/* toggle bar */
    .nav-bar .list ul{
        display: none;
    }   
    

    .phase5{
        padding: 10px 1rem;
    }

    .all-footer .logo-text{
        display: grid;
    }  
    .footer{
        padding: 0;
        width: 100%;
    }  
    .footer .all-footer{
        display: grid;
    }

    .footer .term{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }    
    .all-footer .logo .input{
        background-color: white;
        width: 300px;
        height: 60px;
    }
    .all-footer .logo .input input{
        border: 0;
        width: 220px;
        height: 60px;
        /* padding: 0px 0px 0px 10px;\ */
        outline: none;
    }
    .all-footer .logo .input button{
        height: 60px;
        border: 0;
        width: 45px;
        background-color: white;
        padding: 0px 20px 0px 0px;
    }
    .footer .all-footer .logo h3{
        width: 350px;
        font-weight: 500;
        /* font-size: 30px; */
        color: white;
    }
    .footer .all-footer .logo img{
        width: 200px;
        color: white;
    }
    .all-footer .logo-text .help{
        font-size: 30px;
    }
    .all-footer .logo-text .help p{
        font-size: 18px;
    }
    .logo-text  p{
        font-weight: 500;
        font-size: 25px;
    }
    .footer .term p{
        font-size: 12px;
        width: 350px;
    }
    .footer .all-footer .logo{
        width: 100px;
    }
    .all-footer .logo-text{
        display: flex;
        flex-direction: column;
        gap: 70px;
        font-size: 10px;
        width: 300px;
    }
}

@media (min-width:767px) and (max-width:991px){
    .all-footer .logo-text{
        display: grid;
    }   
    .footer .all-footer{
        flex-direction: column !important;
        gap: 1rem;
        /* text-align: left; */
    }
    .footer .term{
        display: flex;
        gap: 10px;
        justify-content: flex-start;
    }   
}